
* {box-sizing:
    border-box;
}

html {
    font-size: 16px;
}

body {
    margin: 0;
}

h1, h2, h3 {
    margin: 0;
    line-height: normal;
}

.maincontainer {
    padding: 10px;
}

.block1, .block2, .block3, .block4 {
    margin-bottom: 10px;
    padding: 10px;
    height: 150px;
}

.block1 {
    background-color: #55B3B9;
    color: #222;
}

.block2 {
    background-color: #C56060;
    margin-left: 640px;
    color: rgba(34, 34, 34, 0.69);
}

.block3 {
    background-color: #8FC091;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: rgba(34, 34, 34, 0.62);
}

.block4 {
    background-color: #8F86AF;
    color: rgba(46, 46, 46, 0.42);
}

.block2, .block4 {
    width: 49%;
}

.block1, .block3 {
    width: 74%;
}

h1 {
    font-size: 3.5rem;
    font-family: 'Italicroboto';
}

h2 {
    font-size: 2.625rem;
    font-family: 'My Roboto';
}

h3 {
    font-size: 1.75rem;
    font-family: 'Sail';
}

